name: Build Examples

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-linux:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'
    - name: Install PyInvoke
      run: pip install invoke
    - name: Build All Examples
      run: invoke build.examples

  build-windows:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'
    - name: Setup MSVC
      uses: ilammy/msvc-dev-cmd@v1
    - name: Install PyInvoke
      run: pip install invoke
    - name: Build All Examples
      run: invoke build.examples
